@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans:
    'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-brand-gray-1: #dadce0;
  --color-brand-blue-1: #1967d2;
  --color-brand-green-1: #137333;

  --shadow-blue: 0 0 3px 3px #4285f4;
}
